body {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #9DC8C8;
}

.container{
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.grid__header{
    background-color: #58C9B9;
}

.grid__footer{
    background-color: #D1B6E1;
}
.mainContents{
    background-color: #519D9E;
    overflow: scroll;
    padding: 1.5em;
}

.todoList{
    transition: all 1s;
    transition-timing-function: ease;
    &:hover{
        transition: all 1s;
        transition-timing-function: ease;
        text-decoration: line-through;
    }
}


form{
    margin-top: 2vh;
    text-align: center;
}

input{
    width: 30%;
    height: 3vh;
}
